.task .grid-container {
	background-size: cover;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.sushi {
	width: 100%;
}

#task-1 .sushi-cell {
	display: grid;
	grid-column: 3;
}

#task-2 .sushi-cell {
	display: grid;
	grid-row: 1;
	grid-column-start: 2;
	grid-column-end: 4;
}

#task-3 .sushi-cell {
	display: grid;
	grid-row: 2;
	grid-column: 2;
}

#task-4 .sushi-cell {
	display: grid;
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 4;
}

#task-5 .sushi-cell {
	display: grid;
	grid-area: 2 / 1 / 4 / 3;
}

#task-6 .sushi-cell {
	display: grid;
	grid-area: 2 / 2 / 2 / 4;
}
